<ion-view title="Camara" id="page5">
  <ion-content padding="true" class="has-header">
    <button id="camara-button4" 
            class="button button-balanced button-block icon-right ion-flash"
            ng-click="activarFlash()">{{(var.flash?'Apagar':'Prender')}} flash</button>  
    <div ng-init="var.stream=&quot;http://192.168.4.1:81&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="camara-video1">
      <video id="video" width="640" height="365">
	  <source ng-src="{{var.stream}}">
      </video>
    </div>
  </ion-content>
</ion-view>