<ion-view title="Configuracion" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="configuracion-form2" class="list">
      <label class="item item-input" id="configuracion-input1">
        <span class="input-label">URL</span>
        <input type="text" placeholder="" ng-model="var.url">
      </label>
      <div class="spacer" style="width: 300px; height: 9px;"></div>
      <button id="configuracion-button3" 
              class="button button-balanced button-block icon-right ion-android-done"
              ng-click="guardarUrl()">Guardar</button>
    </form>
  </ion-content>
</ion-view>